@model MVC_LibraryApplication.ViewModels.BookLoanModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookLoanModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <select name="memberId">
                    @foreach (var member in Model.Members)
                    {
                        <option value="@member.Id">@member.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <select name="bookId">
                    @foreach (var book in Model.Books)
                    {
                        <option value="@book.Id">@book.Name</option>
                    }
                </select>
            </div>
            <div class="form-group">
                <label asp-for="Loan.StartDate" class="control-label"></label>
                <input name="startDate" asp-for="Loan.StartDate" class="form-control" />
                <span asp-validation-for="Loan.StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Loan.EndDate" class="control-label"></label>
                <input name="endDate" asp-for="Loan.EndDate" class="form-control" />
                <span asp-validation-for="Loan.EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <p style="color:red; width:240px">@Model.ErrorMessage</p>
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

